<title><%= titlePage %></title>
<link rel="stylesheet" href="/css/responsive.css">
<% include partials/header.ejs %>
<body ng-app="">
   <%- messages('partials/message', locals) %>
   <div class="container">
      <div class="row">
         <div class="col-md-8 w3-margin-top">
            <% if(titlePage == 'Create Post - Blogging Blogs'){ %>
               <form method="post" action="/upload" name="myForm" enctype="multipart/form-data">
                  <div class="w3-container">
                     <div class="w3-card-4" style="width:100%">
                        <header class="w3-container w3-light-grey create-post-header">
                           <h3>New Post</h3>
                        </header>
                        <div class="w3-container create-post-body">
                           <label class="label-font">Post Title</label><br>
                           <span ng-show="myForm.postTitle.$touched && myForm.postTitle.$invalid" style="color:red;font-size:12px">* Required Field</span>
                           <input type="text" class="w3-input" name="postTitle" ng-model="postTitle" required>
                           <label class="label-font">Post Content</label><br>
                           <span ng-show="myForm.postContent.$touched && myForm.postContent.$invalid" style="color:red;font-size:12px">* Required Field</span>
                           <textarea type="text" class="w3-input w3-margin-bottom " name="postContent" ng-model="postContent" required></textarea>
                           <div class="custom-file">
                              <input type="file" id="file" name="file" class="custom-file-input"  id="validatedCustomFile" required>
                              <label class="custom-file-label" for="validatedCustomFile">Choose Image...</label>
                           </div>
                           <div class="w3-section">
                              <button class="w3-button w3-green" type="submit" ng-disabled="myForm.$invalid">Post</button>
                              <button class="w3-button w3-red">Cancel</button>
                           </div>
                        </div>
                     </div>
                  </div>
               </form>
               <% } else{ %>
                  <form method="post" action="/updatingPosts/<%=data.postTitle %>" name="myForm">
                     <div class="container">
                        <div class="card">
                           <div class="card-header">
                              <h2>Update Post</h2>
                           </div>
                           <div class="card-body">
                              <div class="form-group">
                                 <label>Post Title</label>
                                 <input type="text" class="form-control form-control-lg" name="updatePostTitle" value="<%= data.postTitle%>">
                              </div>
                              <div class="form-group">
                                 <label>Post Content</label>
                                 <textarea  class="form-control" rows="12" cols="80" name="updatePostContent" value="<%= data.postContent %>"><%= data.postContent %></textarea>
                              </div>
                           </div>
                           <div class="card-footer">
                              <div class="form-group">
                                 <button class="btn btn-outline-success" name="button" type="submit" name="<%= data.postTitle %>">Update</button>
                                 <button class="btn btn-outline-danger" type="button" name="button">Cancel</button>
                              </div>
                           </div>
                        </div>
                     </div>
                  </form>
                  <% } %>
               </div>
               <div class="col-md-4 w3-margin-top">
                  <% include partials/sidebar.ejs %>
               </div>
            </div>
         </div>
      </body>
