<title><%= titlePage %></title>
<% include partials/header.ejs %>
<body class="w3-light-grey">
   <div class="w3-container">
      <%- messages('partials/message', locals) %>
      <div class="w3-row">
         <div class="w3-col l8 s12">
            <% for(i=len-1;i>=0;i--){ %>
            <div class="w3-card-4 w3-margin w3-white">
               <img src="image/<%= post_data[i].postImage %>" alt="" style="width:100%; height:300px;">
               <div class="w3-container">
                  <h2 style="font-family:'ABeeZee'"><b><%= post_data[i].postTitle %> </b></h2>
                  <h5>By <%= post_data[i].postAuthor %><span class="w3-opacity w3-margin-left" style="font-size:16px;"><%= post_data[i].postDate %></span></h5>
               </div>
               <div class="w3-container">
                  <p style="font-family:'Acme'; font-size:19px; text-align:justify"><%= post_data[i].postContent %></p>
               </div>
               <div class="w3-row">
                  <form action="/viewPost" method="post">
                  <div class="w3-col m8 s12">
                     <p><a href="/viewPost"><button class="w3-button w3-padding-large w3-white w3-border" name="<%= post_data[i].postTitle %>"><b>Read More</b></button></a></p>
                  </div>
                  <div class="w3-col m4 w3-hide-small">
                     <p><span class="w3-padding-large w3-right"><b>Comments  </b> <span class="w3-tag">0</span></span></p>
                  </div>
               </div>
            </div>
            <% } %>
         </div>
         <div class="w3-col l4">
            <div class="w3-card w3-margin">
               <div class="w3-container w3-padding" style="background-color:#E572F1">
                  <h4>You can put any information you'd like</h4>
               </div>
               <ul class="w3-ul w3-white">
                  <li class="w3-padding-16">
                     <span class="w3-large">Latest Posts</span>
                  </li>
                  <li class="w3-padding-16">
                     <span class="w3-large">Announcements</span>
                  </li>
                  <li class="w3-padding-16">
                     <span class="w3-large">Calendars</span>
                  </li>
               </ul>
            </div>
            <div class="w3-card w3-margin">
               <div class="w3-container w3-padding" style="background-color:#E572F1">
                  <h4>Popular Posts</h4>
               </div>
               <ul class="w3-ul w3-hoverable w3-white">
                  <li class="w3-padding-16">
                     <img src="" alt="" class="w3-left w3-margin-right" style="width:50px">
                     <span class="w3-large">Post Title</span><br>
                     <span>Post Author and Post Date</span>
                  </li>
                  <li class="w3-padding-16">
                     <img src="" alt="" class="w3-left w3-margin-right" style="width:50px">
                     <span class="w3-large">Post Title</span><br>
                     <span>Post Author and Post Date</span>
                  </li>
                  <li class="w3-padding-16">
                     <img src="" alt="" class="w3-left w3-margin-right" style="width:50px">
                     <span class="w3-large">Post Title</span><br>
                     <span>Post Author and Post Date</span>
                  </li>
               </ul>
            </div>
         </div>
      </div>
   </div>
</body>
