<title><%= titlePage %></title>
<% include partials/header.ejs %>
<link rel="stylesheet" href="/css/profile.css">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body ng-app="">
   <div class="container">
      <%- messages('partials/message', locals) %>
      <div class="card">
         <img class="card-img-top" src="<%= data.local.userCoverPic %>" alt="">
         <div class="update-box" data-toggle="modal" data-target="#updateCoverPic">Update</div>
         <div class="user-image">
            <img class="rounded-circle img-border" src="<%= data.local.userProfilePic %>">
            <div class="profile-update-box" data-toggle="modal" data-target="#updateProfilePic">Update</div>
         </div>
         <div class="author-name">
            <h3><%= data.local.username %></h3>
         </div>
         <div class="card-body">
            <div class="row">
               <div class="col-md-6">
                  <h4>Email</h4>
               </div>
               <div class="col-md-6">
                  <p class="emailText"><%= data.local.email %></p>
               </div>
            </div>
            <div class="row">
               <div class="col-md-6">
                  <h4>Password</h4>
               </div>
               <div class="col-md-6">
                  <p class="passwordText">&#8226 &#8226 &#8226 &#8226 &#8226 &#8226 &#8226 &#8226 &#8226</p>
               </div>
            </div>
         </div>
         <div class="card-footer">
            <div class="row">
               <div class="col-md-6">
                  <button type="button" class="btn btn-md btn-success" id="changeEmailButton" data-toggle="modal" data-target="#updateEmail">Change Email</button>
               </div>
               <div class="col-md-6">
                  <button type="button" class="btn btn-md btn-primary" id="changePasswordButton" data-toggle="modal" data-target="#updatePassword">Change Password</button>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="container">
      <div class="modal" id="updatePassword" role="dialog">
         <form action="/updatePassword" method="post" name="updatePasswordForm">
            <div class="modal-dialog modal-md">
               <div class="modal-content">
                  <div class="modal-header">
                     <h4 class="text-center">Update Password</h4>
                  </div>
                  <div class="modal-body">
                     <span ng-show="updatePasswordForm.old_password.$touched && updatePasswordForm.old_password.$invalid" style="font-size:12px;color:red;">* Required Old Password</span>
                     <input type="password" placeholder="Old Password" class="form-control" name="old_password" ng-model="old_password" required><br>

                     <span ng-show="updatePasswordForm.new_password.$touched && updatePasswordForm.new_password.$invalid" style="font-size:12px; color:red;">* Required New Password</span>
                     <span style="font-size:12px; color:red;" ng-show="!updatePasswordForm.new_password.$error.required && (updatePasswordForm.new_password.$error.minlength || updatePasswordForm.new_password.$error.maxlength) && updatePasswordForm.new_password.$dirty">* Password must be between 8 and 20 characters.</span>
                     <span style="font-size:12px; color:red;" ng-show="!updatePasswordForm.new_password.$error.required && !updatePasswordForm.new_password.$error.minlength && !updatePasswordForm.new_password.$error.maxlength && updatePasswordForm.new_password.$error.pattern && updatePasswordForm.new_password.$dirty">* Must contain one lower &amp; uppercase letter and one non-alpha character</span>
                     <input type="password" placeholder="New Password" class="form-control" name="new_password" ng-model="new_password" ng-minlength="8" ng-maxlength="20" ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])/" required><br>

                     <span style="font-size:12px; color:red;" ng-show="updatePasswordForm.confirm_password.$error.pattern">* Passwords do not match.</span>
                     <span style="font-size:12px; color:green;" ng-show="updatePasswordForm.confirm_password.$valid">Password Matched</span>
                     <input type="password" placeholder="Confirm Password" class="form-control" name="confirm_password" ng-model="confirm_password" ng-pattern="new_password" required>
                  </div>
                  <div class="modal-footer">
                     <button type="submit" class="btn btn-success" ng-disabled="updatePasswordForm.$invalid">Update</button>
                     <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                  </div>
               </div>
            </div>
         </form>
      </div>
   </div>
   <div class="container">
      <div class="modal fade" id="updateEmail" role="dialog">
         <form action="/updateEmailAddress" method="post" name="updateEmailForm">
            <div class="modal-dialog modal-md">
               <div class="modal-content">
                  <div class="modal-header">
                     <h4 class="text-center">Update Email</h4>
                  </div>
                  <div class="modal-body">
                     <span ng-show="updateEmailForm.newEmail.$touched && updateEmailForm.newEmail.$invalid" style="font-size:12px;color:red;">* Required Email</span>
                     <span ng-show="updateEmailForm.newEmail.$error.pattern" style="font-size:12px; color:red;">* Invalid Email ID</span>
                     <input type="email" placeholder="New Email Address" class="newEmail form-control" name="newEmailAddress" ng-model="newEmail" ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/" required>
                  </div>
                  <div class="modal-footer">
                     <button type="submit" class="btn btn-success" ng-disabled="updateEmailForm.$invalid">Update</button>
                     <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                  </div>
               </div>
            </div>
         </form>
      </div>
   </div>
   <div class="container">
      <div class="modal fade" id="updateCoverPic" role="dialog">
         <form action="/updateCoverPhoto" method="post" name="updateEmailForm" enctype="multipart/form-data">
            <div class="modal-dialog modal-md">
               <div class="modal-content">
                  <div class="modal-header">
                     <h4 class="text-center">Update Cover Photo</h4>
                  </div>
                  <div class="modal-body">
                     <input type="file" id="file" name="file">
                  </div>
                  <div class="modal-footer">
                     <button type="submit" class="btn btn-success">Update</button>
                     <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                  </div>
               </div>
            </div>
         </form>
      </div>
   </div>
   <div class="container">
      <div class="modal fade" id="updateProfilePic" role="dialog">
         <form action="/updateEmailAddress" method="post" name="updateEmailForm" enctype="multipart/form-data">
            <div class="modal-dialog modal-md">
               <div class="modal-content">
                  <div class="modal-header">
                     <h4 class="text-center">Update Profile Photo</h4>
                  </div>
                  <div class="modal-body">
                     <input type="file">
                  </div>
                  <div class="modal-footer">
                     <button type="submit" class="btn btn-success">Update</button>
                     <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                  </div>
               </div>
            </div>
         </form>
      </div>
   </div>
</body>
