<title><%= titlePage %></title>
<link rel="stylesheet" href="/css/viewPost.css">
<script src="/js/javascript.js"></script>
<% include partials/header.ejs %>
<div class="container view-container">
   <div class="w3-card view-card">
      <div class="card-header">
         <img class="rounded-circle" src="image/<%= picURL %>">
         <h3 style="font-family:'ABeeZee'"><%= data.postTitle %></h3>
         <p><%= data.postDate %></p>
         <% if((currentUser) && (postUser == data.postAuthor)) {%>
         <div class="button-group">
            <form method="post">
               <button type="submit" class="btn btn-success" formaction="/updatePost" name="<%= data.postTitle %>">Update</button>
               <button type="submit" class="btn btn-danger" formaction="/deletePost" name="<%= data.postTitle %>">Delete</button>
            </form>
         </div>
         <% } %>
      </div>
      <img class="card-img-top" height="400px" src="image/<%= data.postImage %>" style="width:100%; height:500px;">
      <div class="card-body">
         <p style="font-family:'Acme'; font-size:17px; text-align:justify"><%= data.postContent %></p>
      </div>
      <div class="card-footer">
          <div class="comment-section">
              <span class="like-button w3-padding"><i class="fa fa-thumbs-up"></i> Like</span>
              <span class="comment-button w3-padding" onclick="getFocus()"><i class="fa fa-comments"></i> Comment</span>
              <span class="share-button w3-padding"><i class="fa fa-share-alt"></i> Share</span>
          </div>
          <div class="comment-box">
              <div class="row">
                  <div class="col-lg-1 col-md-1">
                      <img src="http://s3.amazonaws.com/37assets/svn/765-default-avatar.png" class="W3-circle user-image w3-border">
                  </div>
                  <div class="col-lg-11 col-md-11">
                      <div class="input-group">
                          <div class="input-group-addon">
                              <span class="fa fa-paper-plane"></span>
                          </div>
                          <input type="text" class="comment" placeholder="Write a comment" id="comment">
                      </div>
                  </div>
              </div>
          </div>
      </div>
   </div>
</div>
