<title><%= titlePage %></title>
<link rel="stylesheet" href="/css/viewPost.css">
<script src="/js/javascript.js"></script>
<% include partials/header.ejs %>
<div class="container view-container">
   <div class="w3-card view-card">
      <div class="card-header">
         <img class="rounded-circle" src="image/<%= picURL %>">
         <h3 style="font-family:'ABeeZee'"><%= data.postTitle %></h3>
         <p><%= data.postDate %></p>
         <% if((currentUser) && (postUser == data.postAuthor)) {%>
         <div class="button-group">
            <form method="post">
               <button type="submit" class="btn btn-success" formaction="/updatePost" name="<%= data.postTitle %>">Update</button>
               <button type="submit" class="btn btn-danger" formaction="/deletePost" name="<%= data.postTitle %>">Delete</button>
            </form>
         </div>
         <% } %>
      </div>
      <img class="card-img-top" height="400px" src="image/<%= data.postImage %>" style="width:100%; height:500px;">
      <div class="card-body">
         <p style="font-family:'Acme'; font-size:17px; text-align:justify"><%= data.postContent %></p>
      </div>
      <div class="card-footer">
          <div class="comment-section">
              <span class="like-button w3-padding" onclick="changeLikeMode()"><i class="fa fa-thumbs-up" id="likebutton"> Like</i></span>
              <span class="comment-button w3-padding" onclick="getFocus()"><i class="fa fa-comments"> Comment</i></span>
              <span class="share-button w3-padding"><i class="fa fa-share-alt"></i> Share</span>
          </div>
          <div class="comment-box">
              <% for(var i=0;i < data.postComment.length; i++){ %>
                  <div class="commenting">
                      <p><span class="commenting-heading"><%= data.postComment[i].postCommentName %></span> :<span class="commenting-content"><%= data.postComment[i].postCommentContent %></span></p>
                  </div>
              <% } %>
              <div class="row">
                  <div class="col-lg-1 col-md-1">
                      <img src="http://s3.amazonaws.com/37assets/svn/765-default-avatar.png" class="W3-circle user-image w3-border">
                  </div>
                  <div class="col-lg-11 col-md-11">
                      <form action="/saveComment/<%= data.postTitle %>" method="post">
                          <div class="input-group">
                              <div class="input-group-addon">
                                  <button type="submit" class="post-send"><i class="fa fa-paper-plane"></i></button>
                              </div>
                              <input type="text" class="comment" placeholder="Write a comment" id="comment" name="postcomment">
                          </div>
                      </form>
                  </div>
              </div>
          </div>
      </div>
   </div>
</div>
