<title><%= titlePage %></title>
<link rel="stylesheet" href="/css/viewPost.css">
<% include partials/header.ejs %>
<div class="container view-container">
   <div class="card">
      <div class="card-header">
         <img class="rounded-circle" src="image/<%= picURL %>">
         <h3 style="font-family:'ABeeZee'"><%= data.postTitle %></h3>
         <p><%= data.postDate %></p>
         <% if((currentUser) && (postUser == data.postAuthor)) {%>
         <div class="button-group">
            <form method="post">
               <button type="submit" class="btn btn-success" formaction="/updatePost" name="<%= data.postTitle %>">Update</button>
               <button type="submit" class="btn btn-danger" formaction="/deletePost" name="<%= data.postTitle %>">Delete</button>
            </form>
         </div>
         <% } %>
      </div>
      <img class="card-img-top" height="400px" src="image/<%= data.postImage %>" style="width:100%; height:500px;">
      <!-- <img class="card-img-top" height="400px" src="https://images.pexels.com/photos/326055/pexels-photo-326055.jpeg?cs=srgb&dl=beautiful-blur-bright-326055.jpg&fm=jpg"> -->
      <div class="card-body">
         <p style="font-family:'Acme'; font-size:17px; text-align:justify"><%= data.postContent %></p>
      </div>
   </div>
</div>
